.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #020115;
  z-index: 100;
  transform: translateX(-200px);
  transition: transform 0.3s ease-in-out;
}
.menu-lateral .ativa {
  transform: translateX(0);
}

.btn-menu {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  width: 118vw;
  height: 22rem;
  background-color: #020115;
}

.img-menu {
  width: 28px;
  margin-left: 205px;
  margin-top: 2px;
}
