body {
  margin: 0;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.content-header img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin-top: 25%;
}

.titulo {
  text-align: center;
  font-size: 3rem;
  margin-top: 8.5rem;
}

h2 {
  font-style: normal;
  font-size: 2rem;
}

.content {
  max-width: 50%;
  margin: 1.5rem;
  display: block;
  text-align: justify;
  font-style: italic;
  justify-content: center;
  flex-direction: row;
}

.conteudo-1 {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.conteudo-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #020115;
  color: #ffffff;
  align-items: center;
}

img {
  width: 100%;
}

.link-1 {
  color: black;
  font-size: 0.9rem;
  text-decoration: none;
}
.link-2 {
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 3rem;
  background-color: #212121;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
